:root {
  /* Grey tones */
  --calg: #F0F0F0;  /* Light Grey */
  --camg: #B0B0B0;  /* Medium Light Grey */
  --cadg: #707070;  /* Medium Dark Grey */
  --caxg: #303030;  /* Extra Dark Grey */

    /* White and Cream */
    --cawh: #FFFFFF;  /* White */
    --cacr: #FFFDD0;  /* Cream */
  
  /* Accent colors */
  --caor: #FFA500;  /* Orange */
  --caye: #FFD700;  /* Yellow */
  
  /* Blue-Green-Violet gradient */
  --cadb: #1E90FF;  /* Dodger Blue */
  --casb: #00BFFF;  /* Deep Sky Blue */
  --casg: #00FA9A;  /* Medium Spring Green */
  --cadg: #32CD32;  /* Lime Green */
  --cabv: #8A2BE2;  /* Blue Violet */
  --camp: #9370DB;  /* Medium Purple */

  font-family: Roboto;
}

* {
    border: 0;
    padding: 0;
    margin: 0;
}


body {
    background-color: var(--cacr);
    /* width: 100vw;
    height: 100vw; */
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}

.header {
    flex: 0;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer{
    flex: 0;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle {
    flex: 1;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}
.container {
    
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    background-color: var(--calg);
    /* width: 60vw;
    height: 40vw; */
    gap: 1px
}

.screen {
    flex: 1;
    align-self: stretch;
    display: block;
    flex-flow:row nowrap;
    align-items: flex-end;
    justify-content: flex-end;
    background-color: var(--calg);
    border: 10px solid var(--caxg);
    margin: 0px;
}

#display {
    flex-shrink: 0;
    background-color: var(--calg);
    font-weight: heavy;
    min-height: 10vw;
    padding-top: auto;
    padding-left: auto;
    overflow: scroll;
}

.row {
    flex: 1;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    gap: 1px;
}

/* .inputs {
    flex: 4;
    display: flex;
    flex-flow: row wrap;
    height: same-as-width;
} */

.button {
    flex: 1;
    display: flex;
    width: 10vw;
    height: 10vw;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}

#button-10,
#button-11,
#button-12,
#button-11,
#button-20,
#button-21,
#button-22,
#button-30,
#button-31,
#button-32,
#button-41 {
    background-color: var(--casb);
}

#button-40 {
    background-color: var(--caor);
}

#button-03,
#button-13,
#button-23,
#button-33,
#button-02,
#button-01 {
    background-color: var(--camp);
}

#button-43 {
    background-color: var(--cadg);
}

#button-00 {
    background-color: var(--casg);
}